.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.navbar-header-radius {
  border-radius: 0px !important;
}

.App-title {
  font-size: 1.5em;
}

.padding-10 {
  padding: 10px !important;
}

.width-full {
  width: 100%;
}

.App-intro {
  font-size: large;
}

.userTable-input {
  background: transparent;
  font-size: 18px;
  border-bottom: 2px solid lightgray !important;
  border: 0px;
}

.userTable-input:focus {
  outline: none;
}